:root {
  --color-bg-primary: #1e1e1e;
  --color-fg-primary: #aaaaaa;
  --color-springy-primary: lime;
}

h1,
h2,
p,
button,
a,
div {
  color: var(--color-fg-primary);
  text-decoration: none;
}

body {
  background-color: var(--color-bg-primary);
  padding: 1rem;
}

.springy {
  background-color: var(--color-springy-primary);
  height: 80px;
  width: 80px;
  border-radius: 8px;
}

.pane {
  overflow: hidden;
  width: 100%;

  border: 1px solid #eeeeee;
  border-radius: 5px;

  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.pane > * {
  flex: 1 1 50%;
}
